
/* fonts start */





/* latin-ext */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 100;
  src: local('Encode Sans Expanded Thin'), local('EncodeSansExpanded-Thin'), url(https://fonts.gstatic.com/s/encodesansexpanded/v2/c4mx1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpJGGQpoc7Ab.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 100;
  src: local('Encode Sans Expanded Thin'), local('EncodeSansExpanded-Thin'), url(https://fonts.gstatic.com/s/encodesansexpanded/v2/c4mx1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpJGGQRocw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 400;
  src: local('Encode Sans Expanded Regular'), local('EncodeSansExpanded-Regular'), url(https://fonts.gstatic.com/s/encodesansexpanded/v2/c4m_1mF4GcnstG_Jh1QH6ac4hNLeNyeYUporKQZwdw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 400;
  src: local('Encode Sans Expanded Regular'), local('EncodeSansExpanded-Regular'), url(https://fonts.gstatic.com/s/encodesansexpanded/v2/c4m_1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpolKQY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXOhpOqc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwOIpWqhPAMif.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwOIpWqZPAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(fonts/Raleway-regular.ttf) format('ttf');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}



/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/*fonts end*/



.logo-scrolled {
    width:100px;
    margin-top: 10px;
    display:none;
}

.logo {
    
    width:100px;
    margin-top:10px;
    
}



.container {
    border:none;
    background-color: transparent;
    width: 60%;
    
}


header nav.navbar {
    background-color:transparent; 
    border:none;
    width:100%;
    margin-bottom: 10px;
    
    
    
}

.navbar-default .navbar-nav>li>a {
    
    color:white;
    font-family: "Open Sans";
    font-weight: 700;
    font-size:14px;
    text-transform: uppercase;
}


.navbar-default .navbar-nav>li>a:hover {
    
    color:rgb(115,174,32);
    font-family: "Open Sans";
    font-weight: 600;
    font-size:14px;
    text-transform: uppercase;
    transition: all 0.5s cubic-bezier(0, 0, 0, 0.95);

}



.navbar-default .navbar-nav>li>a.scrolled {
    
    color:black;
    
}


.navbar-default .navbar-nav>li>a.scrolled:hover {
    
    color:rgb(115,174,32);
    
}





    
    
header {
    
    position: fixed;
    width:100%;
    background-color:transparent;
    z-index: 2;
    transition: all 1s cubic-bezier(0, 0, 0, 0.95);
    
}

header.scrolled {
     position: fixed;
    width:100%;
    background-color:white;
    z-index: 2;
    border-bottom:1px solid #e6e6e6;
    
    
}






.background-img1 {
        
    width:100%;
    
    
}

.dropdown:hover > .dropdown-menu {
    
    display: block;
    
    
}


.dropdown-menu> {
            transition: all 0.3s cubic-bezier(0, 0, 0, 0.95);

    
    
}

.dropdown-menu>li>a {
    
        transition: all 0.3s cubic-bezier(0, 0, 0, 0.95);
        height:40px;
        float:left;
        width:100%;
        padding-top:6%;
    
        
}

.dropdown-menu>li>a:hover {
    
    color:white;
    background-color:#3e9fbe;
}

.navbar-nav>li>a {
    
    font-weight: 600;
    font-size:12pt;
    top: 10px;
    
    
}


.parallax-mirror {
    visibility: visible;
    overflow: visible;
    
    
}


.parallax-window {
    min-height:1000px;
    background: transparent;
    display:flex;
}

h1 {
    text-align: center;
    transition: none;
    line-height: 33px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 100;
    font-size: 3.5vh;
    color:white;
    font-family: 'Raleway', sans-serif;

}


.header-text{
    
    margin: auto;    
}



.text {
    
    color:white;
    font-size:1.5vh;
    
}

.dropdown-menu {
        transition: all 0.5s cubic-bezier(0, 0, 0, 0.95);
        padding:0px;    
    
}




.menu-glyph {
    font-weight: 900;
        
}


.menu-item {
    
   
    transition: background 0.5s cubic-bezier(0, 0, 0, 0.95);

    
}


.dropdown-menu-item {
    
    background:white;    
    transition: background 0.5s cubic-bezier(0, 0, 0, 0.95);

    
}


.button-center {
    
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
    background-color:#73AE20;
    border:none;
    height: 35px;
    width:155px;
    font-size: 10pt;
    font-weight: 700;
}







.button-center:hover {
    
    text-transform: uppercase;
    background-color:#3e9fbe;
    border:none;
    height: 35px;
    width:155px;
    font-size: 10pt;
    font-weight: 700;
    transition: background 1.5s cubic-bezier(0, 0, 0, 0.95);
}







.dropdown-menu>.divider {
    
    margin: 0px;
    
    
}




h2 {
    font-family: 'Raleway','sans-serif';
    font-weight:600;
    font-size:35px;
    border-bottom: 1px solid #dadada;
    margin:auto;
    display: inline-block;
    width:auto;
    line-height: 50px;

}


span {
    
    font-weight: 200;
    
}


.divider-center {
    height:4px;
    width:70px;
    display:block;
    background: #73AE20;
    text-align:center;
    margin:auto;
    
}

.row {
    
    width:100%;
    height:620px;
}


.table-wrapper {
    
    
    margin:auto;
    margin-top:90px;
    padding-bottom: 90px;
    
}


.in-table-wrapper {
    
        margin:auto;
    margin-top:90px;
    
    
    
    
}



.h2-block {
    
    width:240px;
    margin:auto;
    float:none;
    
}


.fa-bar-chart:hover {
    color:white;
    
    
    
}

.fa {
    
    text-align:center;
   
}

.table-icon{
    
    margin: auto;
    display: block;
}

.table-item:hover i {
    -webkit-animation:fadeInUp 0.7s;
}



.table-text {
    font-family: 'Open Sans';
    color:#5b5b5b;
    font-size: 15px;
    text-align:center;
    display:block;
    padding-top:15px;
    line-height: 120%;
}



.table-item {
    border-radius: 3px;
    cursor:pointer;
    padding:20px;
    padding-right: 7px;
    color:#3e9fbe;
    border-radius:3px;
    width:33.333333%;

}


#all {
    
    color:#3e9fbe;
    
}


.table-item:hover {
    
    transition: all 0.5s cubic-bezier(0, 0, 0, 0.95);

    
}

.table-item h3 {
    text-align: center;
    
}


.table-item:hover h3 {
    
    color:white;
    
    
}


.table-item:hover p {
    
    color:white;

}




.table-item:hover:nth-child(odd) {
    color:white;
    cursor:pointer;
    background-color:#3e9fbe;


}




.table-item:nth-child(even)>.table-icon {
    
    color:#73AE20;
    
}



.table-item:nth-child(even):hover>.table-icon {
    
    color:white;
    
    
}




.table-item:hover:nth-child(even) {
    
    color:white;
    cursor:pointer;
    background-color:#73AE20;
    
}




h3{
    color:black;
    border:none;
    margin:0 auto;
    font-family: 'Raleway','sans-serif';
    font-size: 20px;
    padding-top:10px;
    

}





.parallax2{
    
    height:600px;
}




.parallax-window2 {
 
    min-height:400px;
    background-position: 50%;
    
}




.parallax2-p {
    
    color:white;
    font-family: 'Encode Sans Expanded', sans-serif;
    margin:auto;
    width:256px;
    font-weight: 400;
    font-size:12px;
    margin-bottom: 25px;
}




.container-parallax {
    
    padding: 10%;
    
    
    
}


.container-parallax>h1 {
    
        font-family: 'Encode Sans Expanded', sans-serif;
        font-weight: 100; 
        font-size: 44px;
        margin-bottom: 25px;
        
}



.button-center-parallax {
    
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
    background-color:transparent;
    border:1px solid white;
    height: 35px;
    width:130px;
    font-size: 10pt;
    font-size: 10pt;
    font-weight: 700;
    
}


.button-center-parallax:hover {
    
    
        transition: all 0.5s cubic-bezier(0, 0, 0, 0.95);
        background-color:#73AE20;
        border:none;

    
}

.h2-left {
    
    width:auto;
    display:inline-block;
    margin-bottom: 50px;
    height: 43px;
    
}


.divider-left {
    height:4px;
    width:70px;
    display:block;
    background: #73AE20;
 
    
}




.filters { 

    display:inline-block;
    float:right;
    cursor: pointer;
    width:auto;
    padding-right:0;
    
    
}


.filters:last-child {
    
    margin-right: 0;
    
}





.filter {
    color:#5b5b5b;
    display:inline;
    font-weight: 700;
    font-family: "Open Sans";
    font-size:14px;
    margin-right: 20px;
    
}


.filter:hover {
    
    color: #3e9fbe;
    cursor: pointer;
    text-decoration: none;
    
}


.filter:active {
    
    color:#3e9fbe;
    
}


.img-wrapper {
    

    width:24%;
    display:inline;
    position:relative;
    
    
}



#wrapper {
    
    height: auto;
    
}


.gallery {
    
    width:auto;
    height:981px;
}

.gallery-header {
    
    height:100px;
    margin-top: 50px;
}

    
}


@media (min-width:992px) {
    .table-wrapper{
    width:970px;
}
    


    
}
    
@media (min-width:768px) 
    {    
        .table-wrapper{
            width:750px;}
        
        .container {
            
            width: 87%;
        }

}



@media (min-width:1200px){ 
    .table-wrapper{
    width:1170px;
}}







.gallery-img {
    
    width: 288px;
    vertical-align: top;
    padding:10px;
    display: inline-block;
   
   
        
        
        
}


#img-1 {
    
}

#img-2 {
    
    
}


#img-3 {
    
    
    
}

#img-4 {
    
    
}

#img-5 {
 top:-105px;
}

#img-6 {

    top:-210px;
    
}

#img-7 {


}


#img-8 {
    top:-130px;
         
}

#img-9 {
    top:-175px;
}

#img-10{ 
top:-265px;
    
}

#img-11 {
    top:-68px;
    left:-290px;
}

#img-12 {
   top: -74px;
    left:-290px;
}

#img-13 {
    top:-480px;
    left:876px;
}



.img-wrapper:hover{
    
    -webkit-transform: scale(1.1); */ 
    -o-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    /* transform: scale(1.1); */ 
    /* -webkit-transform-origin: center center; */ 
    -o-transform-origin: center center; 
    -ms-transform-origin: center center; 
    /* transform-origin: center center; */
}

.cbp-caption{
    display: inline;
    width: auto;
    
}


.number-container {
    
    height:350px;
    padding:0;
    width:auto;
    margin:auto;
    display:inline-block;
    padding-top:10%;
    padding-bottom: 10%;
}


.table-icon-number {
    
    color:#73AE20;
    
}

.number{
    
    font-size:40px;
    color:white;
    font-weight: 700;
    font-family:"Open Sans";
    width:auto;
}

.number-text {
    width:auto;
    font-size: 20px;
    color:white;
}

.parallax-window-3 {
    
    height: 400px;
    width: 100%;
    margin-top: 100px;
    background: url(images/counter.jpg) 50% no-repeat fixed;

}


.counter-column {
    
    max-width: 200px;
   margin-right:150px;
}


.counter-column-container {
    display: inline-flex;
    margin-top: 7%;
    margin-left: 20%;
}


.counter-icon {
    color:#73AE20;
    
}

.counter-style {
    
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color:white;
    font-size: 14pt;
    
    
}


.counter-number {
    
    font-weight: 700;
    font-size:35pt;
        
}

.counter {
    text-align: center;
    display: block;
    
}




/* ----- Styles for Gallery ----- */
.cbp-l-filters{
	text-align:right;
}

.cbp-filter-item:last-of-type {
    
    margin-right:0;
}

.cbp-l-filters .cbp-filter-item.cbp-filter-item-active,
.cbp-l-filters .cbp-filter-item:hover, .cbp-l-filters .cbp-filter-item:focus{
	color:#3e9fbe;
	background:transparent;
}
.cbp-filter-item.cbp-filter-item-active{
	cursor:default;
}
.cbp-l-filters .cbp-filter-item{
	color:#5b5b5b;
	font-weight:bold;
	border:none; overflow:hidden !important;
	padding:0;
	margin:0 8px 10px 8px;
	display:inline-block;
	cursor:pointer;
}
.cbp-l-filters .cbp-filter-item:before{
  color:#3e9fbe;
  content: attr(data-hover);
  left:0; top:0;
  max-width: 0;
  overflow: hidden;
  position: absolute;
  -webkit-transition:max-width 0.5s ease 0s;
  -o-transition:max-width 0.5s ease 0s;
  transition:max-width 0.5s ease 0s;
}
.cbp-l-filters .cbp-filter-item:hover::before, 
.cbp-l-filters .cbp-filter-item:focus::before{
  max-width: 100%;
}

.overlay{
  background-color: rgba(15, 15, 15, 0.7);
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  position: absolute;
  opacity:0;
  z-index: 99;
  height:100%; 
  width:100%;
  left:0; top:0;
  -o-transition: opacity .5s linear;
  -webkit-transition: opacity .5s linear;
  transition: opacity .5s linear;
}
.cbp-item:hover .overlay, 
.shopping_box:hover .overlay,
#expert_slider .item:hover .overlay{
  opacity:1;
}
.cbp-item{ position:relative;}
.centered{
	position:absolute;
	left:50%; top:50%;
	padding:5px;
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
.overlay .opens{
	height:70px; width:70px; 
	-webkit-border-radius:100%; 
	border-radius:100%;
	display:inline-block;
	background:#3e9fbe;
	color:#fff; font-size:28px;
	text-align:center;
	line-height:72px;
	-ms-transform:rotate(50deg) scale(1.5);
	-o-transform:rotate(50deg) scale(1.5);
	-webkit-transform:rotate(50deg) scale(1.5);
	transform:rotate(50deg) scale(1.5);
}
.cbp-item:hover .overlay .opens{
	-ms-transform:rotate(0) scale(1);
	-o-transform:rotate(0) scale(1);
	-webkit-transform:rotate(0) scale(1);
	transform:rotate(0) scale(1);

}


.cbp-lightbox {
    
    transition: all .3s ease-out;
    
}
/* ----- Gallery ends ----- */

.slider-clients {
    
    background-color:#f3f3f3;
    height: 600px;
    
}

.slider-clients-h2 {
    
    width:320px;
    margin:auto;
    padding-top: 75px;
}

.owl-carousel {
    overflow:hidden;
}

.carousel-p-container {
    
    width:900px;
    text-align: center;
    margin: auto;
}

.client-img{
    
    width:79px;
    border: 3px solid #d4dfe8;
    border-radius: 4px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 25px;
}

.client-review{
    font-family: 'Open Sans';
    color:#5b5b5b;
    margin-top: 25px;
}

.quote-left {
    position: absolute;
    margin-left: -50px;
    top: 140px;
}

.quote-right {
    
    
    position:relative;
    top:-40px;
    left: 920px;
}





h4 {
    
    color:#73AE20;
    font-weight: 700;
    font-family: "Open Sans";
    font-size: 18px;
}

.carousel-p-container p {
    
    color: #5b5b5b;
    font-family: 'Open Sans'
}


.owl-theme .owl-controls .owl-page {
    display: inline-block;




}
.owl-theme .owl-controls .owl-page span {
    background-color: #797979;
    display: block;
    border-radius:3px;
    height: 12px;
    margin: 5px 7px;
    width: 12px;
    cursor:pointer;

    
}


.owl-theme .owl-controls .owl-page span:after {
    
    display: block;
    opacity: 0;
    content:'';
    transition: all 0.5s;
        height: 12px;
    width: 12px;
    transform:translateY(24px);


}

.owl-theme .owl-controls .owl-page.active span:hover::after {
    
    opacity:0;

}

    
.owl-theme .owl-controls .owl-page.active span {
    
    background-color:#73AE20;
    
}



.owl-theme .owl-controls .owl-page span:hover::after  {
    
    content:'';
    display: block;
    border-radius:3px;
    height: 12px;
    width: 12px;
    cursor:pointer;
    background-color:#73AE20;
    opacity: 1;
    transform:translateY(0px);
    

    
    
}

.owl-pagination {
    
    width:80px;
    margin: auto;
    
}

.h2-container{
    
    display: block;
    margin: auto;
    margin-top: 75px;
    width: 230px;
    
}


#pricing-h2 {
    
    text-align: center;
    width: 60%;
    margin: auto;
}


.test::after {
    display: block;
    content:'';
    opacity: 0;
    color:#73AE20;
    width: 75px;
    height: 35px;
    border:none;
}


.side-button {
    
    height: 468px;
    width: 27.0%;
    border-top: 3px solid #73AE20;
    margin-top: 50px;
    display:inline-flex;
    flex-direction:row;
    margin-right: 40px;
}

.side-button:hover {
    
    border-top:3px solid #3E9FBE;
}

.blue-border {
    
    border-top: 3px solid #3E9FBE;
} 

.h3-pricing {
    
    
    font-weight: 900;
    font-size: 19pt;
    float:left;

}

.pricing-container{
    
    margin:auto;
    width: 300px;
}

.dollar-sign {
    
    vertical-align: super;
    font-size: 6pt;
    
}

.price {
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    height: 110px;
    
}

.pricing-h3 {
    font-size: 25pt;
    font-family: 'Open Sans';
    color: #5b5b5b;
    float: left;

}

.pricing-text {
    
    float:left;
    font-family: 'Open Sans';
    color:#5b5b5b;
    font-size:11pt;
    text-align:left;
    margin-top: 10px;
    
    
}

.name-container {
    
    width: 100%;
    height:60px;
    margin-top: 20px;
}

.check-container {
    
    height: 220px;
    width: auto;
    margin-top: 20px;
}

.check {
    
    clear:both;
}

.check::before{
    content:'\f00c';
    font-family:"FontAwesome";
    color:#73AE20;
    margin-right: 5px;
}

.pricing-button {
    
    border: 1px solid #73AE20;
    border-radius: 4px;
    clear: both;
    font-weight: 900;
    font-family: 'Open Sans';
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.5s ease;

    
}


.pricing-button p {
        vertical-align: middle;
        margin:7px;

}

.pricing-button:hover {
    color:white;
    background-color:#73AE20;
}

.blue {
    color:white;
    background-color:#3E9FBE;
    border: 1px solid #3E9FBE;
}

.blue:hover {
    
    border:1px solid #73AE20;
}


.staff {
  
    background: url(images/parallax1.jpg) 50% no-repeat fixed;
    background-size: cover;
    height: 600px;
    margin-top: 100px; 
    width: 100%;

    
}

.white {
    
    color:white;
    width: 160px;
    float:left;
    height: 53px;
}

.img-container {
    display: block;
    width: 263px;
    height: auto;
    overflow: hidden;
}

.staff-item {
    
    height:400px;
    width: 263px;
    margin: 0;
    
}

.staff-item:hover .staff-img {
    transform: scale(1.25);
}

.staff-item:hover .overlay1 {
    
    opacity: 1;
}

.staff-img {
    width: 100%;
    border-radius: 3px;
    transition: all 0.8s ease;
    
}

.fa-facebook {
    
    color:#337AB7;
    background-color: white;
}


.overlay1{
    opacity: 0;    
    background-color: rgba(15, 15, 15, 0.7);
    display: block;
    z-index: 5;
    position: absolute;
    top: 0;
    width: 263px;
    height: 193.75px;
    transition: all 0.8s ease;
}

.item-container {
    
    margin-top: 160px;
}

.name {
    
    color:white;
    font-size: 18pt;
    font-weight: 700;
    margin-top: 15px;
    
}

.rank {
    
    color:#3e9fbe;
    font-size: 11pt;
    font-family:'Raleway', sans-serif;
    font-weight: 700;
}

.string {
    
    font-family: "Raleway", sans-serif;
    color:white;
}








.btn-groop {
    margin-top: 180px;

}

.btn.btn-info{
    padding: 5px;
    margin-right: 15px;
    width: 190px;
    font-weight: 60;
    font-size: 30px;
    margin-top: 50px;
 
}

.btn.btn-default{

   padding: 5px;
    width: 190px;
    font-weight: 60;
    font-size: 30px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
     margin-top: 50px;
}


.btn.btn-default:hover{
  background-color: #73AE20;
  border-color: #73AE20;

}


.default { color: black;

}


.text {
    margin-top: 50px;
    color:white;
    font-size:2vh;
    
}

.padding {
    padding-top: 90px;
}

.heading {
    border-bottom: 1px solid #dadada;
    display: inline-block;
}
.heading_space {
    margin-bottom: 45px;
     font-weight: 600;
}


.divider-left {
    margin-top: -50px;
}




.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
}

.owl-carousel .owl-item {
    float: left;
}

.owl-wrapper-outer{
  max-width: 5850px;
}

.slider_wrapper{
  margin-left: -4%;
  margin-right: -4%;
}

.item {
    padding: 0 15px;
}

.border_radius{
      border-radius: 4px;
}
.image {
    overflow: hidden;
}

.image img {
    -o-transition: all .8s linear;
    -webkit-transition: all .8s linear;
    transition: all .8s linear;
    width: 100%;
}

.border_radius {
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

 
.image img:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }

 .content_wrap .news_box {
    background: #fff;
    margin: -50px auto 0;
    padding: 20px 15px;
    padding-bottom: 0;
    position: relative;
    width: 92%;
    z-index: 1;
    color: black;
}
.border_radius {
    -webkit-border-radius: 4px;
    border-radius: 4px;
}



 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.readmore {
    font-size: 15px;
    color: #282828;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    padding-bottom: 2px;
}




footer, footer p {
    color: #fff;

}

footer {
    background: #3e9fbe;
}

.bottom25 {
    margin-bottom: 25px;
}

footer .footer_panel h3 {
    display: block;
    color: white;
}

.footer_panel .divider-left {
    background: #fff;
}

.heading .divider-left {
    margin: 10px 0 -2px;
}

.heading > span {
    font-weight: 200;
}

footer .footer_panel .footer_logo {
    display: inline-block;
}

.footer_logo > img {
    width: 100px;
}

img {
    vertical-align: middle;
}

ul.social_icon li a {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 36px;
    line-height: 38px;
    text-align: center;
    width: 36px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    padding-left: 4px;
  
}

ul.links li {
    width: 49%;
}

footer .footer_panel p.address, .services p.address {
    margin-left: 25px;
    margin-bottom: 15px;
}

h3 {
    font-size: 2.500rem;
}

ul.links li, ul.social_icon li, .widget .tags > li, .commment li {
    display: inline-block;
}

.social_icon{
  margin-top: 25px;
  margin-left: -13%;
}

a {
    background-color: transparent;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}



.scrollToTop, a, ul.links li a::after, .btn_common:before, .white_border, .search_btn > span, .icon_box, .owl-theme .owl-controls .owl-buttons div, .tparrows, .team .post, header#boxed, .items > li > a:hover, .items > li > a.expanded, ul.tabs li, .shop_tab .tabs li, .pushmenu-push, .pushmenu, #menu_bars span, .pushmenu .push_nav > li, pricing_item, #search, #search.open, .about_box:hover, .about_box img, input, .pushmenu .push_nav > li > a span {
    -o-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

a, a:hover, a:focus {
    outline: none;
    text-decoration: none;
}

ul.links li a > i {
    display: inline-table;
    vertical-align: middle;
    width: 20px;
}

ul.links li a {
    color: #ffffff;
    margin-bottom: 10px;
    padding-bottom: 5px;
    display: inline-block;
    position: relative;
}

a, a:hover, a:focus {
    outline: none;
    text-decoration: none;
}

footer .footer_panel p.address, .services p.address {
    margin-left: 25px;
    margin-bottom: 15px;
    color: white;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.copyright {
    width: 100%;
    padding: 20px 0;
    height: 50px;
}
.copyright p {
    margin: 0;
    font-size: 1.5rem;
    line-height: normal;
        color: #5b5b5b;
}

footer{
  margin-top: -100px;
}

.copyright a {
 color: #5b5b5b;
}

.copyright a:hover{
  color: #3e9fbe;
}



.wrapper {
    display: inline-block;
    height: 35px;
    width: 35px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    z-index: 10;
    vertical-align: top;
    margin-right: 5px;
}
.fa {
    text-align: center;
    position: relative;
    z-index: 1;
}

.wrapper > .fa-facebook {
    padding-top: 9px;
    padding-left: 12px;
    font-size: 17px;
    color: white;
    background-color: #3e9fbe;
}
.wrapper > .fa-twitter {
    padding-top: 7px;
    padding-left: 7px;
    font-size: 20px;
}
.wrapper > .fa-dribbble {
    font-size: 20px;
    padding-top: 7px;
    padding-left: 7px;
}
.wrapper > .fa-instagram {
    font-size: 20px;
    padding-top: 7px;
    padding-left: 7px;
}
.wrapper > .fa-vimeo {
    font-size: 20px;
    padding-top: 7px;
    padding-left: 7px;
}



.loader {
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1111;
  background:#fff;
  overflow-x:hidden;
}
.spinner {
  width: 80px;
  height: 80px;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 16px;
  height: 16px;
  border: 5px solid #3e9fbe;
  background-color: #fff;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}


.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
  
}
.container2 .circle1,
.container2 .circle2,
.container2 .circle3,
.container2 .circle4{
  border-color: #73ae20;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}



.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}



.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}


@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.4) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.25);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.centered{
  position:absolute;
  left:50%; top:50%;
  padding:5px;
  -ms-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}




.text-center {
    text-align: center;
}

@media screen and (max-width: 767px)
.icon_box {
    margin-left: 15px;
    margin-right: 15px;
}